output
.DS_Store

# build artifacts
Gemfile.lock
evcs-documentation.html
evcs-documentation.pdf
evcs-documentation.pdfmarks
evcs-documentation.epub
evcs-documentation.fb2.zip
evcs-documentation-kf8.epub
evcs-documentation.mobi
contributors.txt